services:
  web:
    build:
      dockerfile: Dockerfile
      context: .
    image: hipstermaps:latest
    env_file:
    - .env
    command: bundle exec puma
    ports:
      - 5000:5000
    restart: always
    depends_on:
      - redis
      - postgres
  worker:
    image: hipstermaps:latest
    env_file:
    - .env
    command: bundle exec sidekiq
    restart: always
    depends_on:
      - web
      - redis
      - postgres
  redis:
    image: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redis:/data
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - docker-hipster-postgres:/var/lib/postgresql
volumes:
  redis:
    driver: local
  docker-hipster-postgres:
